.search{
    height: 39px;
    border-bottom: 1px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 9px;
    background: white;
}

.sea{
    color: #999999;
    width: 297px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #3f454f;
}

.btn{
    border: 0;
    height: 28px;
    width: 54px;
    background: #008dd5;
    color: white;
    border-radius: 5px;
}


.top{
    position: relative;
    border-bottom: 1px #d3d3d3 solid;
}

.top-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
    color: white;
    width: 40px;
    height: 16px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 16px;
}
.blue{
    background: #008dd5;
}

.gray{
    background: #666666;
}

.content{
    height: 100%;
}

section{
    overflow: hidden;
}