/* 重置 */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
}

a img {
    border: 0;
}

em, i {
    font-style: normal;
}

b, strong {
    font-weight: normal;
}

a, u, del, s {
    text-decoration: none;
}

/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

header i {
    display: none;
    line-height: 50px;
    color: #fff;
}

header h1 a {
    display: block;
    background: url(../images/logo.png) no-repeat 0 0;
    width: 150px;
    height: 50px;
    background-size: cover;
    text-indent: -9999px;
}

header nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
}

header button {
    border: 0;
    background: none;
    color: #fff;
}

.top img {
    width: 100%;
}

/* 广告 */
.add {
    display: flex;
    padding: 10px;
}

.bigadd img {
    width: 98%;
}

.smalladd {
    display: flex;
    justify-content: space-between;
}

.smalladd img {
    width: 49%;
}

/* 内容 */
.box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
}

.box dl {
    width: 23%;
    box-shadow: 0 0 5px #999;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.box dl img {
    width: 100%;
    margin-bottom: 5px;
}

.box dl dd:last-of-type {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

@media screen and (max-width: 1024px) {
    .box dl {
        width: 31%;
    }
}

@media screen and (max-width: 768px) {
    header i {
        display: block;
    }

    header nav {
        display: none;
    }

    .add {
        display: block;
    }

    .bigadd img {
        width: 100%;
        margin-bottom: 10px;
    }

    .box dl {
        width: 48%;
    }
}

@media screen and (max-width: 580px) {
    .box dl {
        width: 100%;
    }
}