* {
    margin: 0;
    padding: 0;
}

em, i {
    font-style: normal;
}

strong, b {
    font-weight: normal
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

u, del, s {
    text-decoration: none;
}

.wnqc::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

.box {
    margin: 0 auto;
    width: 750px;
    height: 1334px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

header {
    height: 90px;
    background: #3f454f;
    display: flex;
    line-height: 90px;
}

header span{
    color: white;
    font-size: 40px;
    width: 90px;
    text-align: center;
}

header i{
    font-size: 30px;
    color: #fff;
    flex: 1;
}

footer {
    height: 99px;
    border-top: 1px solid #CCCCCC;
    background: #008dd5;
}

section {
    flex: 1;
    background: #00d055;
}

section nav {
    height: 225px;
    background: #3f343f;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 70px;
    text-align: center;
}

section nav div p {
    font-size: 28px;
    line-height: 60px;
}

section main{
    display: flex;
    flex-wrap: wrap;
    background: white;
}

section main div{
    width: 25%;
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    font-size: 52px;
}

section main div p{
    font-size: 25px;
}

section main div:nth-child(4n){
    border-right: 0;
}

section main div:nth-child(1){
    color: #2eb3e8;
}














