/*  reset  */
* {
    margin: 0;
    padding: 0;
}
a, u, del, s {
    text-decoration: none;
}
strong, b {
    font-weight: normal;
}
em, i {
    font-style: normal;
}
ul, ol {
    list-style: none;
}
.over{
    overflow: hidden;
    zoom: 1;
}
/*top*/
.top{
    height: 36px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #f2f2f2;
}
.topcon{
    width: 1200px;
    margin: auto;
}
.topleft{
    float: left;
    font-size: 14px;
    color: #666666;
    line-height: 36px;
}
.topright{
    float: right;
    margin-top: 5px;
}

.header{
    width: 1200px;
    margin:  0 auto;
}

.logo{
    float: left;
    width: 205px;
    height: 90px;
    background: url("../images/logo.png");
    text-indent: -9999px;
}

.add{
    float: right;
    width: 420px;
    height: 90px;
}

.logo a {
    /*border: 1px red solid;*/
    display: block;
    width: 205px;
    height: 90px;
}

.nav{
    background-color: #e78c16;
}

.navcon{
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}

.navcon li{
    float: left;
    line-height: 50px;
    margin-right: 47px;

}

.navcon li a {
    color: #f6f6f6;
    font-size: 14px;
}

.banner{
    height: 560px;
    background: url("../images/banner.png") no-repeat center;
    background-size: cover;
}