/*  reset  */
* {
    margin: 0;
    padding: 0;
}

a, u, del, s {
    text-decoration: none;
}

strong, b {
    font-weight: normal;
}

em, i {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

.over{
    overflow: hidden;
    zoom: 1;
}