*{
    margin: 0;
    padding: 0;
}

.over{
    overflow: hidden;
    zoom: 1;
}

.top{
    height: 36px;
    background-color: snow;
}

.topcon{
    width: 1200px;
    margin: 0 auto;
}

.topleft{
    float: left;
    line-height: 36px;
    font-size: 14px;
    color: #666666;
}

.topright{
    float: right;
    margin-top: 5px;
}

.header{
    border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

.header-left{
    float: left;
    background: url("../images/logo.png");
    width: 205px;
    height: 90px;
    text-indent: -999999px;
}

.header-right{
    float: right;
    width: 420px;
    height: 90px;
}