*{
    margin: 0;
    padding: 0;
}

.over{
    overflow: hidden;
    zoom: 1;
}

.top{
    height: 36px;
    background-color: #e78c16;
}

.topcon{
    width: 1200px;
    margin: auto;
}

.topleft{
    float: left;
    line-height: 36px;
    font-size: 14px;
    color: #666666;
}

.topright{
    float: right;
    margin-top: 5px;
}