*{
    margin: 0;
    padding: 0;
}

.box{
    width: 750px;
    height: 1334px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

header{
    height: 90px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 40px;
}

header input {
    height: 60px;
    width: 604px;
    border-radius: 30px;
    text-align: center;
    color: #666;
}