*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.box{
    width: 750px;
    height: 1334px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

header{
    height: 90px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 40px;
    position: relative;
}

header input {
    height: 60px;
    width: 604px;
    border-radius: 30px;
    text-align: center;
    color: #666;
    font-size: 30px;

}

.icon-fangdajing{
    position: absolute;
    color: #666;
    left: 50%;
    margin-left: -180px;
}

section{
    height: 50px;
    background-color: white;
}
section ul{
    display: flex;
    line-height: 50px;
    overflow: auto;
    border-bottom: 1px solid #CCCCCC;
}
section ul li{
    margin: 0 15px;
    /* 不挤压 */
    flex-shrink: 0;
}
::-webkit-scrollbar{
    display: none;
}